<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">DEMANDE DE PHOTOS</h4>
      </div>
      <div class="modal-body">
        <!--<form action="http://xxx.com/thank-you" method="post">-->
          <!--<input class="form-box" id="name" name="name" placeholder="*Nom" type="text">-->
          <!--<input class="form-box" id="phone" name="phone" placeholder="*Prénom" type="text">-->
          <!--<input class="form-box" id="email" name="email" placeholder="*Email" type="text">-->
          <!--<input class="form-box" id="company" name="company" placeholder="*Message" type="text">-->
          <!--<input class="btn-submit" type="submit" value="Submit">-->
        <!--</form>-->
        <app-validate-form [products]="products"></app-validate-form>
      </div>
      <div class="modal-footer">
        <h6>{{items}}</h6>
      </div>
    </div>
  </div>
</div>

