<header>
  <div class="header-bg">
    <div class="header-bar">
      <img src="../../assets/img/top-right-text.png" class="top-right-logo"/>
      <div class="open-shopping-cart" routerLink="/cart">
        <i><span class="glyphicon glyphicon-star-empty"> </span> Favoris {{(shoppingCartItems$).length}}</i>
      </div>
    </div>
    <div class="subheader-bar">
      <img src="../../assets/img/ida-logo.png" class="ida-logo"/>
      <img src="../../assets/img/paris-habitat-logo.png" class="paris-habitat-logo"/>
    </div>
  </div>
</header>
