.footer-bg {
  margin: 0 auto;
  background: url(../../assets/img/footer-bg.png) no-repeat;
  max-width: 1419px;
  height: 101px;
}
footer {
  text-align: center;
}
.footer_tabs .tab_item {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: red;
  padding: 0 10px;
  letter-spacing: 0.1px;
  margin: 10px 0;
  border-left: 1px solid red;
  line-height: 15px;
}
.footer_tabs .tab_item:active, visited, hover {
  color: #b68a3e;
}
.footer_tabs a:first-child {
  border-left: none;
}
