<p style="font-size: 20px; font-weight: bold">You have {{products.length}} pictures in your cart</p>
<div id="shopping-cart" *ngIf='products.length > 0'>

  <ul>
    <li *ngFor='let product of products;let i = index;'>
      Picture ID: {{product}}<br/>
      <button type="button" class="btn btn-primary" (click)="removeFromCart(i)">REMOVE</button>
    <li>
  </ul>
  <button type="button" class="btn btn-primary" (click)="onValidate()">VALIDATE</button>
  <app-validate-cart></app-validate-cart>
</div>
