.list-item {
  height: 194px;
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}
div.item-img {
  /*width: 152px;*/
  /*height: 126px;*/
  border: 1px solid #ddd;
  padding:16px;
  display: inline-block;
  float: left;
}
div.item-img img {
  width: 122px;
  max-height: 100px;
}
div.item-img img:hover {
  cursor: pointer;
}
div.inner {
  position: relative;
  float: left;
  padding: 0 22px;
}
div.item-title a {
  font-size: 24px;
}
