<!--<div *ngFor="let item of items">-->
  <!--<div class="list-item clearfix">-->
    <!--<div class="item-img">-->
      <!--<a (click)="gotoDetails(item)"><img [src] ="item.image" alt=""></a>-->
    <!--</div>-->
    <!--<div class="inner">-->
      <!--<div class="item-title">-->
        <!--<a (click)="gotoDetails(item)"  class="color-red">{{item.title}}</a>-->
      <!--</div>-->
      <!--<div class="fonttype1">-->
        <!--<p align="left">Adresse<br/>Arrondissement<br/>classement</p>-->
      <!--</div>-->
      <!--<div class="fonttype1 padding-left-48 custom-grey">-->
        <!--<p align="left">{{item.address}}<br/>{{item.arrondissement}}<br/><span class="color-red">{{item.classement}}</span></p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div *ngFor="let item of _initLoadCustomService.spaceData;let i = index;">
  <div class="list-item clearfix">
    <div class="item-img" *ngIf="_initLoadCustomService.thumbImgURL[i]">
      <a (click)="_initLoadCustomService.gotoDetails(item.id)"><img [src]="_initLoadCustomService.thumbImgURL[i][0]" alt=""></a>
    </div>
    <div class="inner">
      <div class="item-title">
        <a (click)="_initLoadCustomService.gotoDetails(item.id)"  class="color-red">{{item.title}}</a>
      </div>
      <div class="fonttype1">
        <p align="left">Adresse<br/>Arrondissement</p>
      </div>
      <div class="fonttype1 padding-left-48 custom-grey" *ngIf="_initLoadCustomService.docData[i]">
        <!--<p align="left">{{item.superfields.adresse}}<br/>{{item.superfields.arrondissement}}</p>-->
        <p align="left">{{_initLoadCustomService.docData[i]['superfields']['adresse']}}<br/>{{_initLoadCustomService.docData[i]['superfields']['arrondissement']}}</p>
      </div>
    </div>
  </div>
</div>
