<div class="top-search-bar">
  <form>
    <h2 class="color-sidebar-txt">Recherche</h2>
    <input type="text" name="search" id="search" placeholder="search..."><br/>
    <input type="checkbox" name="fulltext" value="fulltext"> <span class="custom-grey">Inclure le plein-texte</span><br>
    <input type="checkbox" name="bookmarks" value="bookmarks"> <span class="custom-grey">Inclure les signets</span><br>
    <button type="submit" name="send" id="send">Envoyer <span class="glyphicon glyphicon-search"></span></button>
  </form>
</div>
