.top-search-bar {
  background-color: white;
  padding: 7px 21px 24px;
}
input#search {
  width: 100%;
  border: 1px solid;
  border-color: #ddd;
  padding: 5px;
}
button#send {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  border: 1px solid #ddd;
  background-color: white;
}

