<div class="top-search-bar">
  <form>
    <h2 class="color-sidebar-txt">Recherche</h2>
    <input  id="search" ngui-auto-complete
            [(ngModel)]="selected"
            [source]="observableSource.bind(this)"
            list-formatter="title"
            auto-complete-placeholder="search title here..."
            no-match-found-text="Aucun resultat"
            loading-text="Chargement en cours..."
            (valueChanged)="onSelected($event)" [ngModelOptions]="{standalone: true}"/>
    <br/>
    <!--<input type="checkbox" name="fulltext" value="fulltext"> <span class="custom-grey">Inclure le plein-texte</span><br>-->
    <!--<input type="checkbox" name="bookmarks" value="bookmarks"> <span class="custom-grey">Inclure les signets</span><br>-->
    <button type="submit" name="send" id="send" (click)="onSelected(selected)">Envoyer <span class="glyphicon glyphicon-search"></span></button>
  </form>
</div>
