<h1 class="notice-txt color-red">Notices</h1>
<p class="fontsize-16 custom-grey" *ngIf="_publicService.selectedViewMode == 'Notices Courtes'">{{_initLoadCustomService.spaceData.length}} résultat<span *ngIf="_initLoadCustomService.spaceData.length > 1">(s)</span></p>
<p class="fontsize-16 custom-grey" *ngIf="_publicService.selectedViewMode == 'Carte'">{{_initLoadCustomService.mapAddressData.length}} résultat<span *ngIf="_initLoadCustomService.mapAddressData.length > 1">(s)</span></p>
<span class="fontsize-16 custom-grey">Filtré par:</span> <span class="search-tag">Paris Habitat <span style="color: #967a0b;">x</span></span>
<div class="fliter-box">
  <select class="filter-sel float-left" [(ngModel)]="_publicService.selectedNumberOfResultsPerPage.name" (ngModelChange)="onClick($event)" [ngModelOptions]="{standalone: true}">
    <option *ngFor="let n of _publicService.numbersOfResultsPerPage" [value]="n.name">{{n.name}}</option>
  </select>
  <select class="filter-sel float-right selectpicker" [(ngModel)]="_publicService.selectedViewMode" [ngModelOptions]="{standalone: true}">
    <option data-icon="glyphicon glyphicon-menu-hamburgur" *ngFor="let n of _publicService.viewModes" [value]="n">{{n}}</option>
  </select>
  <select class="filter-sel float-right margin-right-5">
    <option>Trié par : Pertinence</option>
    <option>Trié par : Pertinence 2</option>
  </select>
</div>
<!--<tag-input-->
  <!--placeholder="Add tags ..."-->
  <!--[model]="_publicService.selectedKeyword"-->
  <!--(tagsChanged)="onTagsChange($event)"-->
  <!--(tagsAdded)="onTagsAdded($event)"-->
  <!--(tagRemoved)="onTagRemoved($event)"-->
  <!-->-->
