<section class="content-bg">
  <div class="notice-container" *ngIf="_initLoadCustomService.spaceData[id] && length > 0">
    <div class="row">
      <div class="col-sm-4 details-left-panel">
        <div class="details-img">
          <a (click)="onOpenModal()"><img [src]="_initLoadCustomService.detailImgURL[id]" alt=""></a>
        </div>
        <div class="social-btns">
          <a [routerLink]="''"><img src="../../../assets/img/tw.png" alt=""></a>
          <a [routerLink]="''"><img src="../../../assets/img/fb.png" alt=""></a>
          <a [routerLink]="''"><img src="../../../assets/img/google.png" alt=""></a>
          <a [routerLink]="''"><img src="../../../assets/img/pinterest.png" alt=""></a>
          <a [routerLink]="''"><img src="../../../assets/img/email.png" alt=""></a>
          <!--<a [routerLink]="'mailto: webguru.p327@yandex.com'"><img src="../../../assets/img/email.png" alt=""></a>-->
          <!--<a [routerLink]="mailIT('mailto:webguru.p327@yandex.com')"><img src="../../../assets/img/email.png" alt=""></a>-->
        </div>
        <div class="map-box">
          <!--<app-googlemap [items]="_initLoadCustomService.spaceData[id]['superfields']['adresse']"></app-googlemap>-->
          <app-detail-map-view [items]="_initLoadCustomService.spaceData[id]['superfields']['adresse']"></app-detail-map-view>
        </div>
      </div>
      <div class="col-sm-8 details-right-panel">
        <a (click)="goBack()" class="backtohome-btn color-red">< retour à l’accueil</a>
        <h1 class="color-red">{{_initLoadCustomService.spaceData[id].title}}</h1>
        <div class="fonttype1">
          <p align="left">Cotation<br/>Operation<br/>Adresse<br/>Arrondissement<br/>Date de reception<br/>HP<br/>Architecte<br/>Boite Ariane<br/>Nommage<br/>Dimensions<br/>Photographe<br/><br/>Permalien</p>
        </div>
        <div class="fonttype1 padding-left-107 custom-grey">
          <p align="left">{{_initLoadCustomService.spaceData[id]['superfields']['cotation']}}<br/>{{_initLoadCustomService.spaceData[id]['superfields']['opération']}}<br/>{{_initLoadCustomService.spaceData[id]['superfields']['adresse']}}<br/>{{_initLoadCustomService.spaceData[id]['superfields']['arrondissement']}}<br/>{{_initLoadCustomService.spaceData[id]['superfields']['date de récéption']}}<br/>{{_initLoadCustomService.spaceData[id]['superfields']['HP']}}<br/>{{_initLoadCustomService.spaceData[id]['superfields']['architecte']}}<br/>{{_initLoadCustomService.spaceData[id]['superfields']['boîte ariane']}}<br/>{{_initLoadCustomService.spaceData[id]['superfields']['nommage']}}<br/>{{_initLoadCustomService.spaceData[id]['superfields']['dimensions']}}<br/>{{_initLoadCustomService.spaceData[id]['superfields']['photographe']}}<br/><br/>{{_initLoadCustomService.spaceData[id]['superfields']['permalian']}}</p>
        </div>
      </div>
    </div>
    <app-pic-modal [items]="_initLoadCustomService.spaceData[id]['superfields']['opération']"></app-pic-modal>
  </div>
</section>
