<section class="content-bg">
  <div class="details-content">
    <div class="notice-container">
      <div class="details-left-panel">
        <div class="item-img">
          <a [routerLink]="'../'"><img src="../../../assets/img/PH-city1.jpg" alt=""></a>
        </div>
        <div class="social-btns">
          <a [routerLink]="'../list-of-topics?id = 343'"><img src="../../../assets/img/tw.png" alt=""></a>
          <a [routerLink]="'../list-of-topics?id = 343'"><img src="../../../assets/img/fb.png" alt=""></a>
          <a [routerLink]="'../list-of-topics?id = 343'"><img src="../../../assets/img/google.png" alt=""></a>
          <a [routerLink]="'../list-of-topics?id = 343'"><img src="../../../assets/img/pinterest.png" alt=""></a>
          <a [routerLink]="'../list-of-topics?id = 343'"><img src="../../../assets/img/email.png" alt=""></a>
        </div>
        <div class="map-box">
          <img src="../../../assets/img/map.png" alt="">
        </div>
      </div>
      <div class="details-right-panel">
        <div class="item-title">
          <a [routerLink]="'../'"  class="color-red">< retour à l’accueil</a>
        </div>
        <!--<div class="item-title">-->
          <!--<a [routerLink]="'../list-of-topics'"  class="color-red">MORILLION</a>-->
        <!--</div>-->
        <p class="item-title color-red">MORILLION</p>
        <div class="txt">
          <p align="left">Cotation<br/>Operation<br/>Adresse<br/>Arrondissement<br/>Date de reception<br/>HP<br/>Architecte<br/>Boite Ariane<br/>Nommage<br/>Dimensions<br/>Photographe<br/><br/>Permalien</p>
        </div>
        <div class="txt padding-left-48 custom-grey">
          <p align="left">Cotation<br/>Operation<br/>Adresse<br/>Arrondissement<br/>Date de reception<br/>HP<br/>Architecte<br/>Boite Ariane<br/>Nommage<br/>Dimensions<br/>Photographe<br/><br/>Permalien</p>
        </div>
      </div>
    </div>
  </div>
</section>
