<div class="bottom-search-option">
  <h2 class="color-sidebar-txt">Classement</h2>
  <div class="sidebar-select-box">
    <select class="sidebar-select">
      <option></option>
      <option></option>
      <option></option>
    </select>
  </div>
  <h2 class="color-sidebar-txt">Operation</h2>
  <div class="sidebar-select-box">
    <select class="sidebar-select">
      <option></option>
      <option></option>
      <option></option>
    </select>
  </div>
  <h2 class="color-sidebar-txt">Date de reception</h2>
  <div class="sidebar-select-box">
    <select class="sidebar-select">
      <option></option>
      <option></option>
      <option></option>
    </select>
  </div>
  <h2 class="color-sidebar-txt">Architecte</h2>
  <div class="sidebar-select-box">
    <select class="sidebar-select">
      <option></option>
      <option></option>
      <option></option>
    </select>
  </div>
  <h2 class="color-sidebar-txt">Boite Ariane</h2>
  <div class="sidebar-select-box">
    <select class="sidebar-select">
      <option></option>
      <option></option>
      <option></option>
    </select>
  </div>
  <h2 class="color-sidebar-txt">Photographe</h2>
  <div class="sidebar-select-box">
    <select class="sidebar-select">
      <option></option>
      <option></option>
      <option></option>
    </select>
  </div>
</div>
