/* You can add global styles to this file, and also import other style files */
.content-bg {
  margin: 0 auto;
  max-width: 1448px;
  width: 100%;
  background-color: #e6e6e6;
}
.notice-container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  margin-top: -45px;
}
.custom-grey {
  color: #aaa;
}
.fontsize-16 {
  font-size: 16px;
}
.color-red {
  color: red;
}
.color-sidebar-txt {
  color: #e35629;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.margin-right-5 {
  margin-right: 5px;
}
.padding-left-48 {
  padding-left: 48px;
}
.padding-left-107 {
  padding-left: 107px;
}
.fonttype1 {
  display: inline-block;
  float: left;
  line-height: 28px;
  margin-top: 15px;
}
